doctype html
html
  head
    title Детали пользователя
    link(rel="stylesheet", href="/styles.css")
  body
    h1 Детали пользователя
    p Имя: #{user.name}
    p Возраст: #{user.age}
    a(href="/users") Назад
